<th:block th:fragment="footer">
    <footer class="footer">
        <div class="block-mailchimp">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>
                            Đăng ký nhận tin từ Green Tech
                        </h2>
                        <div class="desc">
                            Nhận thông tin sản phẩm mới nhất và các chương trình khuyến mãi.
                        </div>
                        <form id="mc-form" class="newsletter-form" data-toggle="validator" novalidate="true">
                            <input aria-label="Địa chỉ Email" type="email" class="form-control"
                                   placeholder="Nhập địa chỉ email" name="EMAIL" required="" autocomplete="off">
                            <button class="btn btn-default duration-300" type="submit" aria-label="Đăng ký nhận tin"
                                    name="subscribe">Đăng ký
                            </button>
                        </form>
                        <div class="mailchimp-alerts ">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mid-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-cus-30 footer-info">
                        <div class="logo-footer">
                            <a href="/" title="Green Tech">
                                <span class="logo_greentech">GREEN TECH</span>
                                <!-- <img width="249" height="26" src="//bizweb.dktcdn.net/100/480/632/themes/900313/assets/logo_footer.png?1704565467822" data-src="//bizweb.dktcdn.net/100/480/632/themes/900313/assets/logo_footer.png?1704565467822" alt="Sudes Phone" class="lazyload loaded" data-was-processed="true"> -->
                            </a>
                        </div>

                        <div class="des_foo">
                            Hệ thống cửa hàng Green Tech chuyên bán lẻ điện thoại, máy tính laptop, smartwatch,
                            smarthome, phụ kiện chính hãng - Giá tốt, giao miễn phí.
                        </div>

                        <div class="list-menu toggle-mn">
                            <div class="content-contact clearfix">
                                <span class="list_footer">
                                    <b>Địa chỉ: </b>

                                    70 Lữ Gia, Phường 15, Quận 11, Tp.HCM

                                </span>
                            </div>
                            <div class="content-contact clearfix">
                                <span class="list_footer">
                                    <b>Điện thoại: </b>
                                    <a title="1900 6750" href="tel:19006750">
                                        1900 6750
                                    </a>
                                </span>
                            </div>
                            <div class="content-contact clearfix">
                                <span class="list_footer">
                                    <b>Email: </b>
                                    <a title="support@sapo.vn" href="mailto:support@sapo.vn">
                                        support@sapo.vn
                                    </a>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-cus-20 footer-click">
                        <h4 class="title-menu clicked">
                            Chính sách
                        </h4>
                        <ul class="list-menu toggle-mn hidden-mob">

                            <li class="li_menu">
                                <a href="/chinh-sach-mua-hang" title="Chính sách mua hàng">Chính sách mua hàng</a>
                            </li>

                            <li class="li_menu">
                                <a href="/chinh-sach-doi-tra" title="Chính sách đổi trả">Chính sách đổi trả</a>
                            </li>

                            <li class="li_menu">
                                <a href="/chinh-sach-van-chuyen" title="Chính sách vận chuyển">Chính sách vận chuyển</a>
                            </li>

                            <li class="li_menu">
                                <a href="/chinh-sach-bao-mat" title="Chính sách bảo mật">Chính sách bảo mật</a>
                            </li>

                            <li class="li_menu">
                                <a href="/cam-ket-cua-hang" title="Cam kết cửa hàng">Cam kết cửa hàng</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-cus-20 footer-click">
                        <h4 class="title-menu clicked">
                            Hướng dẫn
                        </h4>
                        <ul class="list-menu toggle-mn hidden-mob list-social">

                            <li class="li_menu">
                                <a href="/huong-dan-mua-hang" title="Hướng dẫn mua hàng">Hướng dẫn mua hàng</a>
                            </li>

                            <li class="li_menu">
                                <a href="/huong-dan-doi-tra" title="Hướng dẫn đổi trả">Hướng dẫn đổi trả</a>
                            </li>

                            <li class="li_menu">
                                <a href="/huong-dan-chuyen-khoan" title="Hướng dẫn chuyển khoản">Hướng dẫn chuyển
                                    khoản</a>
                            </li>

                            <li class="li_menu">
                                <a href="/huong-dan-tra-gop" title="Hướng dẫn trả góp">Hướng dẫn trả góp</a>
                            </li>

                            <li class="li_menu">
                                <a href="/huong-dan-hoan-hang" title="Hướng dẫn hoàn hàng">Hướng dẫn hoàn hàng</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-cus-30 footer-click">
                        <div class="block-social">
                            <h4 class="title-menu">
                                Kết nối với chúng tôi
                            </h4>

                            <div class="social-footer">
                                <div class="social">

                                    <a href="https://facebook.com/" target="_blank" aria-label="Facebook"
                                       title="Theo dõi Sudes Phone trên Facebook">
                                        <img class="lazyload loaded" width="35" height="35" alt="Facebook"
                                             data-src="//bizweb.dktcdn.net/100/480/632/themes/900313/assets/facebook_2.svg?1704565467822"
                                             src="//bizweb.dktcdn.net/100/480/632/themes/900313/assets/facebook_2.svg?1704565467822"
                                             data-was-processed="true">
                                    </a>
                                    <a href="https://www.instagram.com/" target="_blank" aria-label="Instagram"
                                       title="Theo dõi Sudes Phone trên Instagram">
                                        <img class="lazyload loaded" width="35" height="35" alt="Instagram"
                                             data-src="//bizweb.dktcdn.net/100/480/632/themes/900313/assets/instagram_1.svg?1704565467822"
                                             src="//bizweb.dktcdn.net/100/480/632/themes/900313/assets/instagram_1.svg?1704565467822"
                                             data-was-processed="true">
                                    </a>
                                    <a href="https://shopee.vn/" target="_blank" aria-label="Shopee"
                                       title="Theo dõi Sudes Phone trên Shopee">
                                        <img class="lazyload loaded" width="35" height="35" alt="Shopee"
                                             data-src="//bizweb.dktcdn.net/100/480/632/themes/900313/assets/shopee.svg?1704565467822"
                                             src="//bizweb.dktcdn.net/100/480/632/themes/900313/assets/shopee.svg?1704565467822"
                                             data-was-processed="true">
                                    </a>
                                    <a href="https://www.lazada.vn/" target="_blank" aria-label="Lazada"
                                       title="Theo dõi Sudes Phone trên Lazada">
                                        <img class="lazyload loaded" width="35" height="35" alt="Lazada"
                                             data-src="//bizweb.dktcdn.net/100/480/632/themes/900313/assets/lazada.svg?1704565467822"
                                             src="//bizweb.dktcdn.net/100/480/632/themes/900313/assets/lazada.svg?1704565467822"
                                             data-was-processed="true">
                                    </a>
                                    <a href="https://www.tiktok.com/vi-VN" target="_blank" aria-label="Tiktok"
                                       title="Theo dõi Sudes Phone trên Tiktok">
                                        <img class="lazyload loaded" width="35" height="35" alt="Tiktok"
                                             data-src="//bizweb.dktcdn.net/100/480/632/themes/900313/assets/tiktok.svg?1704565467822"
                                             src="//bizweb.dktcdn.net/100/480/632/themes/900313/assets/tiktok.svg?1704565467822"
                                             data-was-processed="true">
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="block-payment">
                            <h4 class="title-menu">
                                Hỗ trợ thanh toán
                            </h4>
                            <div class="payment-footer list-menu">
                                <div class="payment-item">
                                    <img class="lazyload loaded" width="63" height="29" alt="Alepay"
                                         data-src="//bizweb.dktcdn.net/100/480/632/themes/900313/assets/payment_1.svg?1704565467822"
                                         src="//bizweb.dktcdn.net/100/480/632/themes/900313/assets/payment_1.svg?1704565467822"
                                         data-was-processed="true">
                                </div>
                                <div class="payment-item">
                                    <img class="lazyload loaded" width="63" height="29" alt="Zalo Pay"
                                         data-src="//bizweb.dktcdn.net/100/480/632/themes/900313/assets/payment_2.svg?1704565467822"
                                         src="//bizweb.dktcdn.net/100/480/632/themes/900313/assets/payment_2.svg?1704565467822"
                                         data-was-processed="true">
                                </div>
                                <div class="payment-item">
                                    <img class="lazyload loaded" width="63" height="29" alt="VnPay"
                                         data-src="//bizweb.dktcdn.net/100/480/632/themes/900313/assets/payment_3.svg?1704565467822"
                                         src="//bizweb.dktcdn.net/100/480/632/themes/900313/assets/payment_3.svg?1704565467822"
                                         data-was-processed="true">
                                </div>
                                <div class="payment-item">
                                    <img class="lazyload loaded" width="63" height="29" alt="Moca"
                                         data-src="//bizweb.dktcdn.net/100/480/632/themes/900313/assets/payment_4.svg?1704565467822"
                                         src="//bizweb.dktcdn.net/100/480/632/themes/900313/assets/payment_4.svg?1704565467822"
                                         data-was-processed="true">
                                </div>
                                <div class="payment-item">
                                    <img class="lazyload loaded" width="63" height="29" alt="Onepay"
                                         data-src="//bizweb.dktcdn.net/100/480/632/themes/900313/assets/payment_5.svg?1704565467822"
                                         src="//bizweb.dktcdn.net/100/480/632/themes/900313/assets/payment_5.svg?1704565467822"
                                         data-was-processed="true">
                                </div>
                                <div class="payment-item">
                                    <img class="lazyload loaded" width="63" height="29" alt="ATM"
                                         data-src="//bizweb.dktcdn.net/100/480/632/themes/900313/assets/payment_6.svg?1704565467822"
                                         src="//bizweb.dktcdn.net/100/480/632/themes/900313/assets/payment_6.svg?1704565467822"
                                         data-was-processed="true">
                                </div>
                                <div class="payment-item">
                                    <img class="lazyload loaded" width="63" height="29" alt="MoMo"
                                         data-src="//bizweb.dktcdn.net/100/480/632/themes/900313/assets/payment_7.svg?1704565467822"
                                         src="//bizweb.dktcdn.net/100/480/632/themes/900313/assets/payment_7.svg?1704565467822"
                                         data-was-processed="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</th:block>