<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:x-on="http://www.w3.org/1999/xhtml" th:replace="~{/admin/layout/layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <th:block id="css-resources">
        <link rel="stylesheet" th:href="@{/styles/admin/adminlte/dist/css/brand.css}">
    </th:block>

</head>
<body>
<main id="main-content">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                <li class="breadcrumb-item active">Danh sách thương hiệu</li>
            </ol>
        </div>
    </div>

    <!-- Toolbar -->
    <div class="toolbar">
        <button class="btn btn-success" data-toggle="modal" data-target="#modal-add-new-brand">
            <span class="fa fa-plus" style="margin-right:0.5rem;"></span>
            <span>Thêm thương hiệu</span>
        </button>
        <div class="clear"></div>
    </div>

    </div>
    <!-- Main content -->
    <div class="row">
        <div class="col-12">
            <div class="card card-outline">
                <div class="card-body pad">
                    <div class="table-responsive">
                        <!-- Table data -->
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr class="heading">
                                <th width="45%">
                                    Thương hiệu
                                </th>
                                <th width="20%">
                                    Logo
                                </th>
                                <th>Hành động</th>
                            </tr>
                            <tr class="heading-search">
                                <form method="GET" id="search-form">
                                    <th>
                                        <input type="text" name="name" id="name"
                                               class="form-control thuy-search-input">
                                    </th>
                                    <th></th>
                                    <th></th>
                                    <input type="hidden" name="page" id="page">
                                </form>
                            </tr>
                            </thead>
                            <tbody class="list-brand">
                            <th:block th:each="brand : ${brands}">
                                <tr>
                                    <td class="brand-name" th:data-id="${brand.id}" th:text="${brand.name}"></td>
                                    <td>
                                        <div class="logo-div">
                                            <img style="width: 50%;" th:src="${brand.imageUrl}"
                                                 alt="logo" class="brand-thumbnail" th:data-id="${brand.id}">
                                        </div>
                                    </td>
                                    <td>
                                        <button class="btn" onclick="updateBrand(this)" th:data-id="${brand.id}">
                                            <i class="fas fa-edit"></i></button>
                                        <button class="btn" onclick="deleteBrand(this)" th:data-id="${brand.id}"><i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                    <!-- Pagination -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination" id="pagination"></ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal add new brand-->
    <div class="modal fade" id="modal-add-new-brand" tabindex="-1" role="dialog" aria-labelledby="modalAddNewBrand" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm nhãn hiệu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="required-label" for="new-brand">Tên nhãn hiệu</label>
                        <input type="text" class="form-control" id="new-brand">
                        <span class="invalid-feedback" id="invalid-feedback-new-brand">Độ dài tên nhãn hiệu từ 1 - 255 ký tự</span>
                    </div>
                    <div class="form-group">
                        <label class="required-label">Logo</label>
                        <div class="thumbnail-container">
                            <div class="img-div">
                                <img id="preview-img" th:src="@{/images/noimage.png}" alt="Thumbnail post">
                            </div>
                        </div>
                        <input type="file" id="file-input" style="display: none;">
                        <button type="button" class="btn btn-info" id="choose-image-btn">
                            Chọn ảnh
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary btn-add-new-brand">Thêm</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal add brand-->
    <div class="modal fade" id="modal-update-brand" tabindex="-1" role="dialog" aria-labelledby="modalUpdateBrand" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chỉnh sửa nhãn hiệu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" hidden id="update-brand-id">
                    <div class="form-group">
                        <label class="required-label" for="update-brand">Tên nhãn hiệu</label>
                        <input type="text" class="form-control" id="update-brand">
                        <span class="invalid-feedback" id="invalid-feedback-update-brand">Độ dài tên nhãn hiệu từ 1 - 255 ký tự</span>
                    </div>
                    <div class="form-group">
                        <input type="file" id="file" accept="image/*" hidden>
                        <div class="img-area" data-img="">
                            <i class='bx bxs-cloud-upload icon'></i>
                            <h3>Upload Image</h3>
                            <p>Image size must be less than <span>2MB</span></p>
                        </div>
                        <button class="select-image">Select Image</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary btn-update-brand">Lưu</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal delete brand-->
    <div class="modal fade" id="modal-delete-brand" tabindex="-1" role="dialog" aria-labelledby="modalDeleteBrand" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận xóa thương hiệu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" hidden id="delete-brand-id">
                    <span>Bạn chắc chắn muốn xóa thương hiệu?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-danger btn-delete-brand">Xóa</button>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block id="js-resources">
    <script th:src="@{/js/generateApi.js}"></script>
    <script>
        let name, page;
        $(function () {
            let vars = parseUrl();
            name = vars["name"] || ""
            page = vars["page"] || "1"
            $('#page').val(page)
            $('#name').val(name)
            pagination([[${totalPages}]], [[${currentPage}]]);
        });

        $(document).ready(function () {
            $("#btn-add-brand").click(function () {
                $("#modal-add-new-brand").modal("show");
            });
        });
        $(document).ready(function() {
            $('#choose-image-btn').click(function() {
                $('#file-input').click();
            });

            $('#file-input').change(function() {
                var file = this.files[0];
                var formData = new FormData();
                formData.append('files', file);

                $.ajax({
                    url: '/api/file/uploads',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        var preview = $('#preview-img');
                        preview.attr('src', response);
                    },
                    error: function(xhr, status, error) {
                        console.error('Upload failed: ', error);
                    }
                });
            });
        });
        $('.btn-add-new-brand').click(function() {
            let newBrand = $('#new-brand').val();
            let image = $('#preview-img').attr('src');
            if (image == "/images/noimage.png") {
                image = "";
            }
            isValid = true;

            if (newBrand.length == 0) {
                $('#invalid-feedback-new-brand').show();
                isValid = false;
            }
            if (image.length == 0) {
                $('#invalid-feedback-product-img').show();
                isValid = false;
            }

            if (isValid) {
                req = {
                    name: newBrand,
                    imageUrl: image
                }
                callApi('POST', '/v1/brand/add', req,
                    function (data) {
                        toastr.success("Tạo thương hiệu thành công", "", {timeOut: 1000});
                        $('.modal').modal('hide');
                        location.href = "/admin/brand";
                    },
                    function (data) {
                        toastr.warning(data.responseJSON.message);
                    },
                )
            }
        });

        function deleteBrand(btn) {
            let id = $(btn).data('id');
            $('#delete-brand-id').val(id);
            $('#modal-delete-brand').modal('show');
        }

        $('.btn-delete-brand').click(function() {
            let idBrand = $('#delete-brand-id').val();
            $.ajax({
                url: '/v1/brand/delete/'+ idBrand,
                type: 'DELETE',
                contentType: "application/json; charset=utf-8",
                success: function(data) {
                    toastr.success("Xóa thương hiệu thành công");
                    setTimeout(function() {
                        location.href = "/admin/brand";
                    }, 1000);
                },
                error: function(data) {
                    toastr.warning(data.responseJSON.message);
                },
            });
        })
    </script>
</th:block>
</body>
</html>