<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:x-on="http://www.w3.org/1999/xhtml" th:replace="~{/admin/layout/layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
    <meta charset="UTF-8">
    <title> Màu sắc </title>
    <th:block id="css-resources">
    </th:block>

</head>
<body>
<main id="main-content">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                <li class="breadcrumb-item active">Danh sách màu sắc</li>
            </ol>
        </div>
    </div>
    <!-- Toolbar -->
    <div class="toolbar">
        <button class="btn btn-success" data-toggle="modal" data-target="#modal-add-new-color">
            <span class="fa fa-plus" style="margin-right:0.5rem;"></span>
            <span>Thêm màu sắc</span>
        </button>
        <div class="clear"></div>
    </div>
    <!-- Main content -->
    <div class="row">
        <div class="col-12">
            <div class="card card-outline">
                <div class="card-body pad">
                    <div class="table-responsive">
                        <!-- Table data -->
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr class="heading">
                                <th width="35%">
                                    Tên màu sắc
                                </th>
                                <th width="35%">
                                    Ngày cập nhật
                                </th>
                                <th width="30%">
                                    Hành động
                                </th>
                            </tr>
                            <tr class="heading-search">
                                <form method="GET" id="search-form">
                                    <th>
                                        <input type="text" name="name" id="name"
                                               class="form-control thuy-search-input">
                                    </th>
                                    <th></th>
                                    <th></th>
                                    <input type="hidden" name="page" id="page">
                                </form>
                            </tr>
                            </thead>
                            <tbody class="list-color">
                            <th:block th:each="color : ${colors}">
                                <tr>
                                    <td class="color-name" th:data-id="${color.id}"
                                        th:text="${color.name}"></td>
                                    <td th:text="${#dates.format(color.modifiedDate, 'dd-MM-yyyy') ?: #dates.format(color.createdDate, 'dd-MM-yyyy')}"></td>
                                    <td>
                                        <button class="btn" onclick="updateColor(this)" th:data-id="${color.id}">
                                            <i class="fas fa-edit"></i></button>
                                        <button class="btn" onclick="deleteColor(this)" th:data-id="${color.id}">
                                            <i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                    <!-- Pagination -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination" id="pagination"></ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal add new color-->
    <div class="modal fade" id="modal-add-new-color" tabindex="-1" role="dialog"
         aria-labelledby="modalAddNewColor" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm màu sắc</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="new-color">Tên màu sắc</label>
                        <input type="text" class="form-control" id="new-color" placeholder="Nhập màu sắc mới">
                        <span class="invalid-feedback" id="invalid-feedback-new-color">Độ dài tên màu săc từ 1 - 300 ký tự</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary btn-add-new-color">Thêm</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal update color-->
    <div class="modal fade" id="modal-update-color" tabindex="-1" role="dialog" aria-labelledby="modalUpdateColor"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chỉnh sửa màu sắc</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="update-color-id">
                    <div class="form-group">
                        <label for="update-color">Tên màu sắc</label>
                        <input type="text" class="form-control" id="update-color" placeholder="Nhập màu sắc mới">
                        <span class="invalid-feedback" id="invalid-feedback-update-color">Độ dài tên màu sắc từ 1 - 300 ký tự</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary btn-update-color">Lưu</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal delete color-->
    <div class="modal fade" id="modal-delete-color" tabindex="-1" role="dialog" aria-labelledby="modalDeleteColor"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận xóa màu sắc</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" hidden id="delete-color-id">
                    <span>Bạn chắc chắn muốn xóa màu sắc?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-danger btn-delete-color">Xóa</button>
                </div>
            </div>
        </div>
    </div>

</main>
<th:block id="js-resources">
    <script th:src="@{/js/generateApi.js}"></script>
    <script>
        let name, page;
        $(function () {
            let vars = parseUrl();
            name = vars["name"] || ""
            page = vars["page"] || "1"
            $('#page').val(page)
            $('#name').val(name)
            pagination([[${totalPages}]], [[${currentPage}]]);
        });
        $('.btn-add-new-color').click(function () {
            let newColor = $('#new-color').val();

            if (newColor.length == 0) {
                $('#invalid-feedback-new-color').show();
                return;
            }
            var req = {
                name: newColor
            };
            callApi('POST', '/v1/color/add', req,
                function (data) {
                    toastr.success("Tạo màu sắc thành công", "", {timeOut: 2000});
                    $('.list-color').append(`
                        <tr>
                            <td class="color-name" data-id="${data.id}">${data.name}</td>
                            <td data-id="${data.id}">${data.createdDate}</td>
                            <td>
                                <button class="btn" onclick="updateColor(this)" data-id="${data.id}"><i class="fas fa-edit"></i></button>
                                <button class="btn" onclick="deleteColor(this)" data-id="${data.id}"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    `);
                    $('.modal').modal('hide');
                    $('#new-color').val('');
                    location.reload();
                },
                function (data) {
                    toastr.warning(data.responseJSON.message);
                },
                function (data) {
                    $('#invalid-feedback-new-color').hide();
                }
            )
        })

        function updateColor(btn) {
            let id = $(btn).data('id');
            let name = $('.color-name[data-id=' + id + ']').text();
            $('#update-color').val(name);
            $('#update-color-id').val(id);
            $('#modal-update-color').modal('show');
        }

        $('.btn-update-color').click(function () {
            let updateColor = $('#update-color').val().trim().replace(/\s+/g, ' ');
            let idColor = $('#update-color-id').val();
            if (updateColor.length == 0) {
                $('#invalid-feedback-update-color').show();
                return;
            }
            req = {
                id: idColor,
                name: updateColor
            }
            callApi('PUT', '/v1/color/update', req
                , function (data) {
                    toastr.success("Cập nhật thành công");
                    $('.color-name[data-id=' + idcolor + ']').text(updatecolor);
                    $('.modal').modal('hide');
                    $('#update-color').val('');
                    $('#update-color-id').val('');
                    location.reload();
                },
                function (data) {
                    toastr.warning(data.responseJSON.message);
                }, function (data) {
                    $('#invalid-feedback-update-color').hide();
                })
        })

        function deleteColor(btn) {
            let id = $(btn).data('id');
            $('#delete-color-id').val(id);
            $('#modal-delete-color').modal('show');
        }

        $('.btn-delete-color').click(function () {
            let idColor = $('#delete-color-id').val();
            $.ajax({
                url: '/v1/color/delete/' + idColor,
                type: 'DELETE',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    toastr.success("Xóa thành công");
                    $('.color-name[data-id=' + idColor + ']').parent().remove();
                    $('.modal').modal('hide');
                    $('#delete-color-id').val('');
                },
                error: function (data) {
                    toastr.warning(data.responseJSON.message);
                }
            });
        })
    </script>
</th:block>
</body>
</html>