<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:x-on="http://www.w3.org/1999/xhtml" th:replace="~{/admin/layout/layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
    <meta charset="UTF-8">
    <title>Product Page</title>
    <th:block id="css-resources">
        <link rel="stylesheet" th:href="@{/styles/admin/adminlte/plugins/summernote/summernote-bs4.css}">
        <link rel="stylesheet" th:href="@{/styles/admin/adminlte/dist/css/list_image_product.css}">
        <link rel="stylesheet" th:href="@{/styles/admin/adminlte/dist/css/modal_img.css}">
        <link rel="stylesheet" th:href="@{/styles/admin/css/upload_file.css}">
        <!--    <link rel="stylesheet" th:href="@{/adminlte/plugins/summernote/summernote.css}">-->
        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    </th:block>

</head>
<body>
<main id="main-content">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/admin/products">Danh sách sản phẩm</a></li>
                <li class="breadcrumb-item active">Thêm sản phẩm mới</li>
            </ol>
        </div>
    </div>

    <!-- Toolbar -->
    <div class="toolbar">
        <a role="button" class="btn btn-default" href="/admin/products">
            <span class="fas fa-chevron-left" style="margin-right:0.5rem;"></span>
            <span>Trở về</span>
        </a>
        <button class="btn btn-success btn-create-product">
            <span class="fa fa-plus" style="margin-right:0.5rem;"></span>
            <span>Thêm sản phẩm</span>
        </button>
        <div class="clear"></div>
    </div>

    <!-- Main content -->
    <div class="row">
        <div class="col-12">
            <div class="card card-outline">
                <div class="card-body pad">
                    <div class="row">
                        <div class="col-lg-9 col-md-8">
                            <div class="form-group">
                                <div>
                                    <label class="required-label" for="name">Tên sản phẩm</label>
                                    <span class="invalid-feedback" id="invalid-feedback-name">Độ dài tên từ 1 - 300 ký tự</span>
                                </div>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="required-label" for="description">Mô tả</label>
                                    <span class="invalid-feedback" id="invalid-feedback-description">Mô tả sản phẩm trống</span>
                                </div>
                                <textarea class="textarea" id="description" name="description"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="form-group">
                                <label for="status" class="required-label">Trạng thái</label>
                                <select class="form-control" id="status">
                                    <option value="1">Mở bán</option>
                                    <option value="0">Không bán</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="brand" class="required-label">Thương hiệu</label>
                                <select class="form-control" id="brand">
                                    <th:block th:each="brand : ${brands}">
                                        <option th:value="${brand.id}" th:text="${brand.name}"></option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label for="category" class="required-label">Danh mục</label>
                                    <span class="invalid-feedback" id="invalid-feedback-category">Category trống</span>
                                </div>
                                <select class="select2bs4" style="width: 100%;" id="category">
                                    <th:block th:each="category : ${categories}">
                                        <option th:value="${category.id}" th:text="${category.name}"></option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="required-label" for="price">Giá bán (VNĐ)</label>
                                    <span class="invalid-feedback" id="invalid-feedback-price">Khoảng giá sản phẩm: 1.000 - 1.000.000.000</span>
                                </div>
                                <input type="text" class="form-control text-price-input" id="price">
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="required-label" for="discount">Giảm giá (VNĐ)</label>
                                    <span class="invalid-feedback" id="invalid-feedback-discount">Khoảng giá sản phẩm: 1.000 - 1.000.000.000</span>
                                </div>
                                <input type="text" class="form-control text-price-input" id="discount">
                            </div>
                            <div class="form-group">
                                <label class="required-label">Ảnh bài viết</label>
                                <div class="thumbnail-container">
                                    <div class="img-div">
                                        <img id="preview-img" th:src="@{/images/noimage.png}" alt="Thumbnail post">
                                    </div>
                                </div>
                                <input type="file" id="file-input" style="display: none;">
                                <button type="button" class="btn btn-info" id="choose-image-btn">
                                    Chọn ảnh
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block id="js-resources">
    <script th:src="@{/js/generateApi.js}"></script>
    <script th:src="@{/js/upload_file.js}"></script>
    <script th:src="@{/styles/admin/adminlte/plugins/summernote/summernote-bs4.js}"></script>
    <script th:src="@{/styles/admin/adminlte/plugins/list/list.min.js}"></script>
    <script th:inline="javascript">
        $(function () {
            $('#description').summernote(
                {
                    height: 450,
                    focus: true
                }
            )
        });

        $(document).ready(function() {
            $('#choose-image-btn').click(function() {
                $('#file-input').click();
            });

            $('#file-input').change(function() {
                var file = this.files[0];
                var formData = new FormData();
                formData.append('files', file);

                $.ajax({
                    url: '/api/file/uploads',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        var preview = $('#preview-img');
                        preview.attr('src', response);
                    },
                    error: function(xhr, status, error) {
                        console.error('Upload failed: ', error);
                    }
                });
            });
        });

        $('.btn-create-product').click(function () {
            $('.invalid-feedback').hide();
            let name = $('#name').val();
            let description = $('#description').val();
            let brand = $('#brand').val();
            let status = $("#status").val();
            let discount = $('#discount').val();
            let category = $('#category').val();
            let price = parseInt($('#price').val());

            let image = $('#preview-img').attr('src');
            if (image == "/images/noimage.png") {
                image = "";
            }
            isValid = true;

            if (name.length == 0 || name.length > 300) {
                $('#invalid-feedback-name').show();
                isValid = false;
            }

            if (description.length == 0) {
                $('#invalid-feedback-description').show();
                isValid = false;
            }

            if (category.length == 0) {
                $('#invalid-feedback-category').show();
                isValid = false;
            }

            if (isNaN(price) || (price < 1000 || price > 1000000000)) {
                $('#invalid-feedback-price').show();
                isValid = false;
            }

            if (isValid) {
                req = {
                    name: name,
                    description: description,
                    brandId: brand,
                    categoryId: category,
                    status: status,
                    price: price,
                    discount: discount,
                    imageUrl: image
                }
                callApi('POST', '/v1/products/create', req,
                    function (data) {
                        toastr.success("Tạo sản phẩm thành công");
                        setTimeout(function () {
                            location.href = "/admin/product/";
                        }, 1000);
                    },
                    function (data) {
                        console.log(data.responseJSON.message);
                        toastr.warning(data.responseJSON.message);
                    },
                )
            }
        })
    </script>
</th:block>
</body>
</html>