<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:x-on="http://www.w3.org/1999/xhtml" th:replace="~{/admin/layout/layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
    <meta charset="UTF-8">
    <title>Product Page</title>
    <th:block id="css-resources">
        <link rel="stylesheet" th:href="@{/styles/admin/adminlte/plugins/summernote/summernote-bs4.css}">
        <link rel="stylesheet" th:href="@{/styles/admin/adminlte/dist/css/list_image_product.css}">
        <link rel="stylesheet" th:href="@{/styles/admin/adminlte/dist/css/modal_img.css}">
        <!--    <link rel="stylesheet" th:href="@{/adminlte/plugins/summernote/summernote.css}">-->
        <link rel="stylesheet" th:href="@{/styles/admin/css/upload.css}">
        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    </th:block>

</head>
<body>
<main id="main-content">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/admin/product">Danh sách sản phẩm</a></li>
                <li class="breadcrumb-item active">Thêm sản phẩm mới</li>
            </ol>
        </div>
    </div>

    <!-- Toolbar -->
    <div class="toolbar">
        <a role="button" class="btn btn-default" href="/admin/product">
            <span class="fas fa-chevron-left" style="margin-right:0.5rem;"></span>
            <span>Trở về</span>
        </a>
        <button class="btn btn-success btn-create-product">
            <span class="fa fa-plus" style="margin-right:0.5rem;"></span>
            <span>Thêm sản phẩm</span>
        </button>
        <div class="clear"></div>
    </div>

    <!-- Main content -->
    <div class="row">
        <div class="col-12">
            <div class="card card-outline">
                <div class="card-body pad">
                    <div class="row">
                        <div class="col-lg-9 col-md-8">
                            <input type="hidden" class="form-control" id="id" name="id">
                            <div class="form-group">
                                <div>
                                    <label class="required-label" for="name">Tên sản phẩm</label>
                                    <span class="invalid-feedback" id="invalid-feedback-name">Độ dài tên từ 1 - 300 ký tự</span>
                                </div>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="required-label" for="description">Mô tả</label>
                                    <span class="invalid-feedback" id="invalid-feedback-description">Mô tả sản phẩm trống</span>
                                </div>
                                <textarea class="textarea" id="description" name="description"></textarea>
                            </div>
                            <div class="form-group">
                                <h3>Hiển thị nhiều ảnh trước khi upload</h3>
                                <div class="dandev-reviews">
                                    <div class="form_upload">
                                        <label class="dandev_insert_attach">
                                            <span>Đính kèm ảnh</span>
                                        </label>
                                    </div>
                                    <div class="list_attach">
                                        <ul class="dandev_attach_view">

                                        </ul>
                                        <span class="dandev_insert_attach">
                                            <i class="dandev-plus">+</i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="form-group">
                                <label for="status" class="required-label">Trạng thái</label>
                                <select class="form-control" id="status">
                                    <option value="1">Mở bán</option>
                                    <option value="0">Không bán</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="brand" class="required-label">Thương hiệu</label>
                                <select class="form-control" id="brand">
                                    <th:block th:each="brand : ${brands}">
                                        <option th:value="${brand.id}" th:text="${brand.name}"></option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label for="category" class="required-label">Danh mục</label>
                                    <span class="invalid-feedback" id="invalid-feedback-category">Category trống</span>
                                </div>
                                <select class="select2bs4" style="width: 100%;" id="category">
                                    <th:block th:each="category : ${categories}">
                                        <option th:value="${category.id}" th:text="${category.name}"></option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="required-label" for="price">Giá bán (VNĐ)</label>
                                    <span class="invalid-feedback" id="invalid-feedback-price">Khoảng giá sản phẩm: 1.000 - 1.000.000.000</span>
                                </div>
                                <input type="text" class="form-control text-price-input" id="price">
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="required-label" for="discount">Giảm giá (VNĐ)</label>
                                    <span class="invalid-feedback" id="invalid-feedback-discount">Khoảng giá sản phẩm: 1.000 - 1.000.000.000</span>
                                </div>
                                <input type="text" class="form-control text-price-input" id="discount">
                            </div>
                            <div class="form-group">
                                <label class="required-label">Ảnh sản phẩm</label>
                                <div class="thumbnail-container">
                                    <div class="img-div">
                                        <img id="preview-img" th:src="@{/images/noimage.png}" alt="Thumbnail post">
                                    </div>
                                </div>
                                <input type="file" id="file-input" style="display: none;">
                                <button type="button" class="btn btn-info" id="choose-image-btn">
                                    Chọn ảnh
                                </button>
                            </div>
                        </div>
                        <button class="btn btn-outline-primary btn-create-product-option">
                            <span class="fa fa-plus" style="margin-right:0.5rem; "></span>
                            <span>Thêm phân loại</span>
                        </button>
                        <button class="btn btn-outline-info btn-create-specification" style="margin-left: 15px;">
                            <span class="fa fa-plus" style="margin-right:0.5rem; "></span>
                            <span>Thêm thông tin kỹ thuật</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-add-specification" tabindex="-1" role="dialog"
         aria-labelledby="modalAddSpecification" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm thông tin kỹ thuật</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="required-label" for="screen-size">Kích thước màn hình</label>
                        <input type="text" class="form-control" id="screen-size" placeholder="Nhập kích thước màn hình">
                        <span class="invalid-feedback" id="invalid-feedback-screen-size">Độ dài kích thước màn hình cấp từ 1 - 255 ký tự</span>
                    </div>
                    <div class="form-group">
                        <label class="required-label" for="resolution-screen">Độ phân giải màn hình</label>
                        <input type="text" class="form-control" id="resolution-screen"
                               placeholder="Nhập độ phân giải màn hình">
                        <span class="invalid-feedback" id="invalid-feedback-resolution-screen">Độ dài độ phân giải màn hình từ 1 - 255 ký tự</span>
                    </div>
                    <div class="row">
                        <div class="form-group" style="width: 45%; margin-right: 5px; margin-left: 8px;">
                            <label class="required-label" for="chipset">ChipSet</label>
                            <input type="text" class="form-control" id="chipset" placeholder="Nhập chipset">
                            <span class="invalid-feedback"
                                  id="invalid-feedback-chip-set">Chipset không được để trống</span>
                        </div>
                        <div class="form-group" style="width: 50%; margin-left: 5px; ">
                            <label for="cpu" class="required-label">CPU</label>
                            <input type="text" class="form-control" id="cpu" placeholder="Nhập cpu">
                            <span class="invalid-feedback" id="invalid-feedback-cpu">Cpu không được để trống</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group" style="width: 45%; margin-right: 5px; margin-left: 8px;">
                            <label class="required-label" for="size">Kích thước</label>
                            <input type="text" class="form-control" id="size" placeholder="Nhập kích thước">
                            <span class="invalid-feedback"
                                  id="invalid-feedback-size">Kích thước không được để trống</span>
                        </div>
                        <div class="form-group" style="width: 50%; margin-left: 5px; ">
                            <label for="weight" class="required-label">Trọng lượng</label>
                            <input type="text" class="form-control" id="weight" placeholder="Nhập trọng lượng">
                            <span class="invalid-feedback"
                                  id="invalid-feedback-weight">Trọng lượng không được để trống</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group" style="width: 45%; margin-right: 5px; margin-left: 8px;">
                            <label class="required-label" for="charging-port">Cổng sạc</label>
                            <input type="text" class="form-control" id="charging-port"
                                   placeholder="Nhập cổng sạc cho điện thoại ">
                            <span class="invalid-feedback" id="invalid-feedback-charging-port">Cổng sạc không được để trống</span>
                        </div>
                        <div class="form-group" style="width: 50%; margin-left: 5px; ">
                            <label for="bluetooth" class="required-label">Bluetooth</label>
                            <input type="text" class="form-control" id="bluetooth" placeholder="Nhập bluetooth">
                            <span class="invalid-feedback"
                                  id="invalid-feedback-bluetooth">Bluetooth không được để trống</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="required-label" for="camera-before">Camera trước</label>
                        <input type="text" class="form-control" id="camera-before" placeholder="Nhập camera trước">
                        <span class="invalid-feedback" id="invalid-feedback-camera-before">Camera trước không được để trống</span>
                    </div>
                    <div class="form-group">
                        <label class="required-label" for="camera-after">Camera sau</label>
                        <input type="text" class="form-control" id="camera-after" placeholder="Nhập camera sau">
                        <span class="invalid-feedback"
                              id="invalid-feedback-camera-after">Camera sau không được để trống</span>
                    </div>

                    <div class="row">
                        <div class="form-group" style="width: 45%; margin-right: 5px; margin-left: 8px;">
                            <label class="required-label" for="size">PIN</label>
                            <input type="text" class="form-control" id="pin" placeholder="Nhập pin cho điện thoại">
                            <span class="invalid-feedback" id="invalid-feedback-pin">Pin không được để trống</span>
                        </div>
                        <div class="form-group" style="width: 50%; margin-left: 5px; ">
                            <label for="os" class="required-label">Hệ điều hành</label>
                            <input type="text" class="form-control" id="os" placeholder="Nhập Hệ điều hành">
                            <span class="invalid-feedback"
                                  id="invalid-feedback-os">Hệ điều hành không được để trống</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary btn-add-specification">Thêm</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-add-product-option" tabindex="-1" role="dialog"
         aria-labelledby="modalAddProductOption" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm phân loại</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="brand" class="required-label">Màu sắc sản phẩm</label>
                        <span class="invalid-feedback" id="invalid-feedback-product-color">Màu sắc của sản phẩm không được trống</span>
                        <select class="form-control" id="product-color">
                            <th:block th:each="productColor : ${productColors}">
                                <option th:value="${productColor.id}" th:text="${productColor.name}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group">
                        <div>
                            <label for="category" class="required-label">Dung lượng sản phẩm</label>
                            <span class="invalid-feedback" id="invalid-feedback-capacity">Dung lượng sản phẩm không được trống</span>
                        </div>
                        <select class="select2bs4" style="width: 100%;" id="capacity">
                            <th:block th:each="capacity : ${capacities}">
                                <option th:value="${capacity.id}" th:text="${capacity.name}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary btn-add-new-category">Thêm</button>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block id="js-resources">
    <script th:src="@{/js/generateApi.js}"></script>
    <script th:src="@{/styles/admin/adminlte/plugins/summernote/summernote-bs4.js}"></script>
    <script th:src="@{/styles/admin/adminlte/plugins/list/list.min.js}"></script>
    <script th:src="@{/styles/admin/script/upload.js}"></script>
    <script th:inline="javascript">
        $(function () {
            $('#description').summernote(
                {
                    height: 450,
                    focus: true
                }
            )
        });

        $(document).ready(function () {
            $('#choose-image-btn').click(function () {
                $('#file-input').click();
            });

            $('#file-input').change(function () {
                var file = this.files[0];
                var formData = new FormData();
                formData.append('file', file);

                $.ajax({
                    url: '/api/file/upload',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        var preview = $('#preview-img');
                        preview.attr('src', response);
                    },
                    error: function (xhr, status, error) {
                        console.error('Upload failed: ', error);
                    }
                });
            });
        });

        $('.btn-create-product').click(function () {
            $('.invalid-feedback').hide();
            let name = $('#name').val();
            let description = $('#description').val();
            let brand = $('#brand').val();
            let status = $("#status").val();
            let discount = $('#discount').val();
            let category = $('#category').val();
            let price = parseInt($('#price').val());

            let image = $('#preview-img').attr('src');
            if (image == "/images/noimage.png") {
                image = "";
            }
            let images = [] ;
            $('.dandev_attach_view li').each(function() {
                let imageUrl = $(this).find('.img-wrap-box img').attr('src');
                if (imageUrl) {
                    images.push(imageUrl);
                }
            });

            isValid = true;

            if (name.length == 0 || name.length > 300) {
                $('#invalid-feedback-name').show();
                isValid = false;
            }

            if (description.length == 0) {
                $('#invalid-feedback-description').show();
                isValid = false;
            }

            if (category.length == 0) {
                $('#invalid-feedback-category').show();
                isValid = false;
            }

            if (isNaN(price) || (price < 1000 || price > 1000000000)) {
                $('#invalid-feedback-price').show();
                isValid = false;
            }

            if (isValid) {
                req = {
                    name: name,
                    description: description,
                    brandId: brand,
                    categoryId: category,
                    status: status,
                    price: price,
                    discount: discount,
                    imageUrl: image,
                    images: images
                }
                callApi('POST', '/v1/products/create', req,
                    function (response) {
                        $('#id').val(response);
                        setTimeout(function () {
                            $("#modal-add-product-option").modal("show");
                        }, 1000);
                    },
                    function (errorResponse) {
                        console.log(errorResponse.responseJSON.message);
                        toastr.warning(errorResponse.responseJSON.message);
                    },
                )
            }
        });

        $(document).ready(function () {
            $(".btn-create-specification").click(function () {
                $("#modal-add-specification").modal("show");
            });
        });

        $('.btn-add-specification').click(function () {
            let productId = $('#id').val();
            let screenSize = $('#screen-size').val();
            let resolutionScreen = $('#resolution-screen').val();
            let chipSet = $('#chipset').val();
            let cpu = $('#cpu').val();
            let size = $('#size').val();
            let weight = $('#weight').val();
            let cameraAfter = $('#camera-after').val();
            let cameraBefore = $('#camera-before').val();
            let pin = $('#pin').val();
            let chargingPort = $('#charging-port').val();
            let os = $('#os').val();
            let bluetooth = $('#bluetooth').val();

            let isValid = true;
            if (screenSize.length === 0) {
                $('#invalid-feedback-screen-size').show();
                isValid = false;
            }
            if (resolutionScreen.length === 0) {
                $('#invalid-feedback-resolution-screen').show();
                isValid = false;
            }

            if (chipSet.length === 0) {
                $('#invalid-feedback-chip-set').show();
                isValid = false;
            }
            if (cpu.length === 0) {
                $('#invalid-feedback-cpu').show();
                isValid = false;
            }

            if (size.length === 0) {
                $('#invalid-feedback-size').show();
                isValid = false;
            }
            if (weight.length === 0) {
                $('#invalid-feedback-weight').show();
                isValid = false;
            }
            if (cameraAfter.length === 0) {
                $('#invalid-feedback-camera-after').show();
                isValid = false;
            }
            if (cameraBefore.length === 0) {
                $('#invalid-feedback-camera-before').show();
                isValid = false;
            }

            if (pin.length === 0) {
                $('#invalid-feedback-pin').show();
                isValid = false;
            }
            if (chargingPort.length === 0) {
                $('#invalid-feedback-charging-port').show();
                isValid = false;
            }

            if (os.length === 0) {
                $('#invalid-feedback-os').show();
                isValid = false;
            }

            if (bluetooth.length === 0) {
                $('#invalid-feedback-bluetooth').show();
                isValid = false;
            }

            if (isValid) {
                req = {
                    screen_size: screenSize,
                    resolution_screen: resolutionScreen,
                    cpu: cpu,
                    size: size,
                    weight: weight,
                    camera_after: cameraAfter,
                    camera_before: cameraBefore,
                    pin: pin,
                    charging_port: chargingPort,
                    os: os,
                    bluetooth: bluetooth,
                    chip: chipSet,
                    stock: 0,
                    productId: productId
                }
                callApi('POST', '/v1/specification/create', req,
                    function (data) {
                        toastr.success("Thêm thông số kỹ thuật thành công", "", {timeOut: 1000});
                        $('.modal').modal('hide');
                        location.href = "/admin/product";
                    },
                    function (data) {
                        toastr.warning(data.responseJSON.message);
                    },
                )
            }
        });

        $(document).ready(function () {
            $(".btn-create-product-option").click(function () {
                $("#modal-add-product-option").modal("show");
            });
        });
        $('.btn-add-new-category').click(function () {
            let productId = $('#id').val();
            let productColor = $('#product-color').val();
            let capacity = $('#capacity').val();

            let isValid = true;
            if (productColor.length === 0) {
                $('#invalid-feedback-screen-size').show();
                isValid = false;
            }
            if (capacity.length === 0) {
                $('#invalid-feedback-resolution-screen').show();
                isValid = false;
            }

            if (isValid) {
                req = {
                    productId: productId,
                    productColorId: productColor,
                    capacityId: capacity
                }
                callApi('POST', '/v1/product-option/create', req,
                    function (data) {
                        toastr.success("Thêm phân loại thành công", "", {timeOut: 1000});
                        $("#modal-add-product-option").modal('hide');
                    },
                    function (data) {
                        toastr.warning(data.responseJSON.message);
                    },
                )
            }
        });
    </script>
</th:block>
</body>
</html>