<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:x-on="http://www.w3.org/1999/xhtml" th:replace="~{/admin/layout/layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
    <meta charset="UTF-8">
    <title>Product Page</title>
    <th:block id="css-resources">
        <link rel="stylesheet" th:href="@{/styles/admin/adminlte/plugins/summernote/summernote-bs4.css}">
        <link rel="stylesheet" th:href="@{/styles/admin/adminlte/dist/css/list_image_product.css}">
        <link rel="stylesheet" th:href="@{/styles/admin/adminlte/dist/css/modal_img.css}">
        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/styles/admin/css/upload.css}">
    </th:block>

</head>
<body>
<main id="main-content">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/admin/product">Danh sách sản phẩm</a></li>
                <li class="breadcrumb-item active">Chi tiết sản phẩm</li>
            </ol>
        </div>
    </div>

    <!-- Toolbar -->
    <div class="toolbar">
        <a role="button" class="btn btn-default" href="/admin/product">
            <span class="fas fa-chevron-left" style="margin-right:0.5rem;"></span>
            <span>Trở về</span>
        </a>
        <button class="btn btn-success btn-update-product">
            <span class="fa fa-plus" style="margin-right:0.5rem;"></span>
            <span>Cập nhật</span>
        </button>
        <button class="btn btn-danger float-right" data-toggle="modal" data-target="#modal-delete-product"><i class="fas fa-trash-alt"></i> Xóa</button>
        <div class="clear"></div>
    </div>

    <!-- Main content -->
    <div class="row">
        <div class="col-12">
            <div class="card card-outline">
                <div class="card-body pad">
                    <div class="row">
                        <div class="col-lg-9 col-md-8">
                            <input type="hidden" class="form-control" id="id" name="id"
                                   th:value="${id}">
                            <input type="hidden" class="form-control" id="idSpecification" name="idSpecification"
                                   th:value="${product.getSpecifications().get(0).id}">
                            <div class="form-group">
                                <div>
                                    <label class="required-label" for="name">Tên sản phẩm</label>
                                    <span class="invalid-feedback" id="invalid-feedback-name">Độ dài tên từ 1 - 300 ký tự</span>
                                </div>
                                <input type="text" class="form-control" id="name" th:value="${product.name}">
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="required-label" for="description">Mô tả</label>
                                    <span class="invalid-feedback" id="invalid-feedback-description">Mô tả sản phẩm trống</span>
                                </div>
                                <textarea class="textarea" id="description" name="description" th:text="${product.description}"></textarea>
                            </div>
                            <div class="form-group">
                                <h3>Hiển thị nhiều ảnh trước khi upload</h3>
                                <div class="dandev-reviews">
                                    <div class="form_upload">
                                        <label class="dandev_insert_attach">
                                            <span>Đính kèm ảnh</span>
                                        </label>
                                    </div>
                                    <div class="list_attach">
                                        <ul class="dandev_attach_view" id="edit-product-images">
                                            <!-- Images will be populated dynamically here -->
                                            <li th:each="image : ${product.images}">
                                                <div class="img-wrap">
                                                    <span class="close" onclick="DelImg(this)">×</span>
                                                    <div class="img-wrap-box">
                                                        <img th:src="${image}" alt="Product Image">
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <span class="dandev_insert_attach">
                                            <i class="dandev-plus">+</i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="form-group">
                                <label for="status" class="required-label">Trạng thái</label>
                                <select class="form-control" id="status" name="status">
                                    <option th:value="0" th:selected="${product.status == 0}">Không bán</option>
                                    <option th:value="1" th:selected="${product.status == 1}">Mở bán</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="brand" class="required-label">Thương hiệu</label>
                                <select class="form-control" id="brand">
                                    <th:block th:each="brand : ${brands}">
                                        <option th:value="${brand.id}" th:text="${brand.name}" th:selected="${product.brand.id == brand.id}"></option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label for="category" class="required-label">Danh mục</label>
                                    <span class="invalid-feedback" id="invalid-feedback-category">Category trống</span>
                                </div>
                                <select class="select2bs4" style="width: 100%;" id="category">
                                    <th:block th:each="category : ${categories}">
                                        <option th:value="${category.id}" th:text="${category.name}" th:selected="${product.category.id == category.id}"></option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="required-label" for="price">Giá bán (VNĐ)</label>
                                    <span class="invalid-feedback" id="invalid-feedback-price">Khoảng giá sản phẩm: 1.000 - 1.000.000.000</span>
                                </div>
                                <input type="text" class="form-control text-price-input" id="price" th:value="${product.price}">
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="required-label" for="discount">Giảm giá (VNĐ)</label>
                                    <span class="invalid-feedback" id="invalid-feedback-discount">Khoảng giá sản phẩm: 1.000 - 1.000.000.000</span>
                                </div>
                                <input type="text" class="form-control text-price-input" id="discount" th:value="${product.discount}">
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="required-label">Ảnh sản phẩm</label>
                                </div>
                                <div class="thumbnail-container">
                                    <div class="img-div">
                                        <img id="preview-img"
                                             th:src="${(product.imageUrl != null && !#strings.isEmpty(product.imageUrl)) ? product.imageUrl : '/images/noimage.png'}"
                                             alt="Thumbnail post">
                                    </div>
                                </div>
                                <button type="button" class="btn btn-info" data-toggle="modal"
                                        data-target="#choose-img-modal">
                                    Chọn ảnh
                                </button>
                            </div>
                        </div>
                        <button class="btn btn-outline-primary btn-product-option">
                            <span class="fa fa-plus" style="margin-right:0.5rem; "></span>
                            <span>Xem phân loại</span>
                        </button>
                        <button class="btn btn-outline-info btn-specification" style="margin-left: 15px;" onclick="redirectToPage()">
                            <span class="fa fa-plus" style="margin-right:0.5rem; "></span>
                            <span>Xem thông tin kỹ thuật</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-update-product-option" tabindex="-1" role="dialog"
         aria-labelledby="modalUpdateProductOption" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chỉnh sửa phân loại</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="idProductOption" name="idProductOption"
                           th:value="${product.getProductOptions().get(0).id}">
                    <div class="form-group">
                        <label for="brand" class="required-label">Màu sắc sản phẩm</label>
                        <span class="invalid-feedback" id="invalid-feedback-product-color">Màu sắc của sản phẩm không được trống</span>
                        <select class="form-control" id="product-color">
                            <option th:each="color : ${productColors}"
                                    th:value="${color.id}"
                                    th:text="${color.name}"
                                    th:selected="${color.id == product.productOptions.get(0).product_color.id}"> <!-- Kiểm tra xem màu sắc có phải là màu sắc hiện tại của sản phẩm không -->
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div>
                            <label for="category" class="required-label">Dung lượng sản phẩm</label>
                            <span class="invalid-feedback" id="invalid-feedback-capacity">Dung lượng sản phẩm không được trống</span>
                        </div>
                        <select class="select2bs4" style="width: 100%;" id="capacity">
                            <option th:each="capacity : ${capacites}"
                                    th:value="${capacity.id}"
                                    th:text="${capacity.name}"
                                    th:selected="${capacity.id == product.productOptions.get(0).capacity.id}"> <!-- Kiểm tra xem màu sắc có phải là màu sắc hiện tại của sản phẩm không -->
                            </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary btn-add-new-category">Sửa</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal delete product -->
    <div class="modal fade" id="modal-delete-product" tabindex="-1" role="dialog" aria-labelledby="modalDeleteProduct" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận xóa sản phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span>Bạn chắc chắn muốn xóa sản phẩm này?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-danger btn-delete-product">Xóa</button>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block id="js-resources">
    <script th:src="@{/js/generateApi.js}"></script>
    <script th:src="@{/styles/admin/adminlte/plugins/summernote/summernote-bs4.js}"></script>
    <script th:src="@{/styles/admin/adminlte/plugins/list/list.min.js}"></script>
    <script th:src="@{/styles/admin/script/upload.js}"></script>
    <script th:inline="javascript">
        $(function () {
            $('#description').summernote(
                {
                    height: 450,
                    focus: true
                }
            )
        });

        $(document).ready(function() {
            $('#choose-image-btn').click(function() {
                $('#file-input').click();
            });

            $('#file-input').change(function() {
                var file = this.files[0];
                var formData = new FormData();
                formData.append('files', file);

                $.ajax({
                    url: '/api/file/uploads',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        var preview = $('#preview-img');
                        preview.attr('src', response);
                    },
                    error: function(xhr, status, error) {
                        console.error('Upload failed: ', error);
                    }
                });
            });
        });

        $('.btn-update-product').click(function () {
            $('.invalid-feedback').hide();
            let idProduct = $('#id').val();
            let name = $('#name').val();
            let description = $('#description').val();
            let brand = $('#brand').val();
            let status = $("#status").val();
            let discount = $('#discount').val();
            let category = $('#category').val();
            let price = parseInt($('#price').val());

            let image = $('#preview-img').attr('src');
            if (image == "/images/noimage.png") {
                image = "";
            }

            let images = [];
            $('.dandev_attach_view li').each(function() {
                let imageUrl = $(this).find('.img-wrap-box img').attr('src');
                if (imageUrl) {
                    images.push(imageUrl);
                }
            });
            var isValid = true;

            if (name.length == 0 || name.length > 300) {
                $('#invalid-feedback-name').show();
                isValid = false;
            }

            if (description.length == 0) {
                $('#invalid-feedback-description').show();
                isValid = false;
            }

            if (category.length == 0) {
                $('#invalid-feedback-category').show();
                isValid = false;
            }

            if (isNaN(price) || (price < 1000 || price > 1000000000)) {
                $('#invalid-feedback-price').show();
                isValid = false;
            }

            if (isValid) {
                req = {
                    id: idProduct,
                    name: name,
                    description: description,
                    brandId: brand,
                    categoryId: category,
                    status: status,
                    price: price,
                    discount: discount,
                    imageUrl: image,
                    images : images
                }
                callApi('PUT', '/v1/products/update', req,
                    function (response) {
                        $("#modal-update-product-option").modal("show");
                    },
                    function (data) {
                        console.log(data.responseJSON.message);
                        toastr.warning(data.responseJSON.message);
                    },
                )
            }
        });
        $('.btn-delete-product').click(function() {
            req = {

            }
            callApi('DELETE', '/v1/products/delete/'+[[${product.id}]], req,
                function (data) {
                    toastr.success("Xóa sản phẩm thành công");
                    setTimeout(function () {
                        location.href = "/admin/product";
                    }, 1000);
                },
                function (data) {
                    console.log(data.responseJSON.message);
                    toastr.warning(data.responseJSON.message);
                },
            )
        });

        $(document).ready(function () {
            $(".btn-product-option").click(function () {
                $("#modal-update-product-option").modal("show");
            });
        });

        $('.btn-add-new-category').click(function () {
            let idProductOption = $ ('#idProductOption').val();
            let idProduct = $('#id').val();
            let productColorId = $('#product-color').val();
            let capacityId = $('#capacity').val();

            let isValid = true;

            if (productColorId.length === 0 ) {
                $('#invalid-feedback-product-color').show();
                isValid = false;
            }

            if (capacityId.length === 0) {
                $('#invalid-feedback-capacity').show();
                isValid = false;
            }

            if (isValid) {
                req = {
                    id: idProductOption,
                    productColorId : productColorId,
                    capacityId: capacityId,
                    productId : idProduct
                }
                callApi('PUT', '/v1/product-option/update', req,
                    function (response) {
                        toastr.success("Chỉnh sửa phân loại thành công", "", {timeOut: 1000});
                        $("#modal-update-product-option").modal('hide');
                    },
                    function (data) {
                        console.log(data.responseJSON.message);
                        toastr.warning(data.responseJSON.message);
                    },
                )
            }
        });
        function redirectToPage() {
            let idSpecification = $('#idSpecification').val();
            window.location.href = "/admin/specification/" + idSpecification;
        }
    </script>
</th:block>
</body>
</html>