<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:x-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/styles/shop/css/login.css}"/>
    <title>Quên mật khẩu</title>
</head>

<body>
<div class="container">
    <div class="forms-container">
        <div class="signin-signup">
            <form th:action="@{/forgot-password}" method="POST" th:object="${forgotPasswordCommand}" class="sign-in-form">
                <h2 class="title">Quên mật khẩu</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text"  placeholder="Email" th:field="*{email}" />
                </div>
                <input type="submit" value="Gửi yêu cầu" class="btn solid" />
                <p th:if="${success}" class="success" style="color: #00b44e;">Yêu cầu quên mật khẩu đã được gửi thành công.</p>
                <p th:if="${error}" class="error" th:text="${error}" style="color: darkred;">Đã có lỗi xảy ra.</p>
                <p class="social-text">Or Sign in with social platforms</p>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
    <div class="panels-container">
        <div class="panel left-panel">
            <img th:src="@{/images/log.svg}" class="image" alt=""/>
        </div>
    </div>
</div>
</body>
</html>