<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/styles/shop/css/register.css}" />
    <link rel="stylesheet" th:href="@{/styles/admin/vendor/toastr/toastr.min.css}">
    <title>Sign in & Sign up Form</title>
</head>

<body>
<div class="container">
    <div class="forms-container">
        <div class="signin-signup">
            <form id="register-form" th:action="@{/register}" method="post" class="sign-up-form">
                <h2 class="title">Đăng ký</h2>
                <div class="input-field sign-up_user">
                    <i class="fas fa-user"></i>
                    <input id="user_register" type="text" placeholder="Họ và tên"/>
                    <span class="user_register_err error"></span>
                </div>
                <div class="input-field sign-up_account">
                    <i class="fas fa-user"></i>
                    <input id="account_register" type="text" placeholder="Tên tài khoản"  />
                    <span class="account_register_err error"></span>
                </div>
                <div class="input-field sign-up_email">
                    <i class="fas fa-envelope"></i>
                    <input id="email_register" type="email" placeholder="Email" />
                    <span class="email_register_err error"></span>
                </div>
                <div class="input-field sign-up_password">
                    <i class="fas fa-lock"></i>
                    <input id="password_register" type="password" placeholder="Mật khẩu" />
                    <span class="password_register_err error"></span>
                </div>
                <input type="submit" class="btn btn_register-submit" value="Đăng Ký" />
                <p class="social-text">Or Sign up with social platforms</p>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>

    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>Khám phá thế giới mới</h3>
                <p>
                    Đăng nhập tài khoản và khám phá mọi tiện ích mà chúng tôi mang lại!
                </p>

                <a th:href="@{/login}" class="btn transparent" id="sign-up-btn">
                    Đăng nhập
                </a>
            </div>
            <img th:src="@{/images/log.svg}" class="image" alt="" />
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:src="@{/styles/admin/vendor/toastr/toastr.min.js}"></script>
<script th:src="@{/js/register.js}"></script>
</body>

</html>